* {
    padding: 0px;
    margin: 0px;
    text-decoration:none;
}

body, html {
  height: 100%;
    width: 1920px;
    height: 1075px;
    
     background-image: url(Content/Images/circuits.jpg);
       background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@font-face {
    font-family: futura;
    src: url("Content/Fonts/FuturaPTDemi.otf") format("opentype");
}





a {
    color: white;
}

.title {
    font-size: 50px;
    font-family: futura;
    color: azure;
    position: absolute;
    
    margin: 0 auto;
    
    width: 737px;
    height: 200px;
    text-align: center;
    
    padding-top: 270px;
    padding-left: 592px;
    z-index: 1;
}

.subtitle {
    color: dimgrey;
    font-size: 20px;
    font-family: futura;
    text-align: center;
}

.navbar {
    width: 1920px;
    height: 75px;
    
    position: fixed;
    z-index: 10;

    
    
    
    background-color: black;
    font-size: 30px;
    font-family: futura;
    color: azure; 
    
}

.navlinks {

    position: fixed;
    width: 315px;
    height: 30px;
    text-align: center;
    
    margin-top: 19px;
    margin-left: 83px;

    
}

.navtitle {
    position: fixed;
    width: 208px;
    height: 30px;
    text-align: center;

    
    margin-top: 19px;
    margin-left: 856px;
    
}

 /* SOCIAL MEDIA STUFF */ 
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    position:absolute;
   top:0;
   right:0;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}


.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
